# ===============================
# Python
# ===============================
# __pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual Environments
# ===============================
.venv/
venv/
env/


# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# Logs & Runtime Artifacts
# ===============================
# *.log
# output.log

# ===============================
# Generated Outputs
# ===============================
# output.pdf
# output.tex
# output.aux
# *.aux
# *.out
# *.toc
# *.lof
# *.lot

# ===============================
# PDFs
# ===============================
# sample.pdf
